section.number
    .container
        .number-main
            .number-list
                +numberListItem('42', 'Web design project')
                +numberListItem('123', 'Happy client')
                +numberListItem('15', 'Award winner')
                +numberListItem('99', 'Cup of coffee')
                +numberListItem('24', 'Member')