section.people
    .container
        .people-main
            +blockBox('Happy Clients', 'What people say')
            ul.people-list
                +peopleItemList("/images/img-people1.png", "Matthew Dix", "Graphic design")
                +peopleItemList("/images/img-people2.png", "Nick Karvounis", "Graphic design")
                +peopleItemList("/images/img-people3.png", "Jaelynn Castillo", "Graphic design")
                +peopleItemList("/images/img-people4.png", "Mike Petrucci", "Graphic design")
