section.services#services
    .container
        .services-main
            +blockBox("We work with", "Amazing services")
            div
                .services-list
                    +servicesListItem("images/img-service-icon1.png", 'Photography', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus neque ut esse')
                    +servicesListItem("images/img-service-icon2.png", 'Web Design', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus neque ut esse')
                    +servicesListItem("images/img-service-icon3.png", 'Creativity', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus neque ut esse')
                .services-list
                    +servicesListItem("images/img-service-icon4.png", 'Seo', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus neque ut esse')
                    +servicesListItem("images/img-service-icon5.png", 'Css/html', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus neque ut esse')
                    +servicesListItem("images/img-service-icon6.png", 'Digital', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus neque ut esse')