section.story
    .container
        .story-main
            +blockBox("Out stories", "Lastest blog")
            ul.story-list
                +storyItemList
                +storyItemList('/images/img-blog2.png')
                +storyItemList('/images/img-blog3.png')
section.map
    .container
        .map-main
            img.map-icon(src="/images/img-map-icon.png", alt="")
            h2.map-heading Open map
                
