section.quote
    .container
        .quote-main
            //- i.fal.fa-angle-left.quote-arrow-left.quote-arrow
            +quoteItemList("https://images.unsplash.com/photo-1637315227093-646052d141d7?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60", true, 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est explicabo repellat ut recusandae temporibus. Ex natus est soluta porro perspiciatis maxime quod velit quia dolore! Reprehenderit aut voluptates illum numquam.', 'Jon Doe')
            +quoteItemList("https://images.unsplash.com/photo-1637314659019-4c91e9dbaba4?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0fHx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60", true, 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est explicabo repellat ut recusandae temporibus. Ex natus est soluta porro perspiciatis maxime quod velit quia dolore! Reprehenderit aut voluptates illum numquam.', 'hahah')
            +quoteItemList("https://images.unsplash.com/photo-1637275731582-e3043d18a8cb?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60", true, 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est explicabo repellat ut recusandae temporibus. Ex natus est soluta porro perspiciatis maxime quod velit quia dolore! Reprehenderit aut voluptates illum numquam.', 'ahihi')
            //- i.fal.fa-angle-right.quote-arrow-right.quote-arrow