.team {
  background: #fff;
  padding: 10rem 0;

  &-list {
    @include flexBox;
    gap: 0 3rem;
  }

  &-item {
    @include flexBox(stretch, flex-start, column);
    width: calc(100% / 3);

    &-image {
      @include size(100%, 47rem);
      object-fit: cover;
      flex-shrink: 0;
    }

    &-social {
      @include flexBox(center, center);

      &-item {
        &:not(:first-child) {
          border-left: 1px solid $primary-color;
        }
        &-link {
          @include flexBox(center, center);
          @include size(6rem, 6rem);
          font-size: 2rem;
          color: $primary-color;
          background: $secondary-color;
          transition: all 0.25s linear;

          &:hover {
            color: #fff;
            background: $primary-color;
          }
        }
      }
    }

    &-info {
      flex: 1;
      padding: 3rem 1rem;
      text-align: center;
      @include flexBox(stretch, space-between, column);
    }

    &-name {
      text-transform: uppercase;
      margin-bottom: 1.5rem;
      font-weight: 500;
      line-height: 1.4;
      @include textClamp(2);
    }

    &-position {
      font-family: $secondary-font;
      font-weight: 300;
      font-style: italic;
      font-size: 1.5rem;
      color: $text-color;
    }
  }

  @include maxWidth(1023px) {
    padding: 5rem 0;

    &-list {
      @include touchSlider(55%);
    }
  }

  @include maxWidth(767px) {
    &-list {
      grid-auto-columns: 90%;
    }
    &-item-image {
      height: 40rem;
    }
  }
}

.brand {
  padding: 8rem 0;
  background: $gray-color;

  @include maxWidth(767px) {
    padding: 3rem 0;
  }
}
@include hoverEffect(".team-item-wrapper", ".team-item-content");
