extends layout/layout

block vars
	-title = 'PSD Third Project to HTML, CSS, JS'
	-bodyClass = 'home-page'

block container
	main
		include blocks/about
		include blocks/number
		include blocks/services
		include blocks/device
		include blocks/wedo
		include blocks/quote
		include blocks/team
		include blocks/work
		include blocks/testimonial
		include blocks/people
		include blocks/story